{% extends "base.html" %}
{% load static %}

{% block title %}ログイン - NagoyaMeshi{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
  <header>
    <a href="{% url 'top' %}">
      <img src="{% static 'img/logo.png' %}" alt="トップページに戻る" class="logo">
    </a>
  </header>

  <div class="form-container">
    <h2>ログイン</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">ユーザー名</label>
        <input type="text" name="username" required>

        <label for="password">パスワード</label>
        <input type="password" name="password" required>

        <button type="submit">ログイン</button>
    </form>
</div>

{% endblock %}