{% extends "base.html" %}

{% block title %}店舗管理{% endblock %}
{% block content %}
   <h1>店舗管理</h1>
   <a href="{% url 'new' %}">新規作成</a>
   <table class="table table-striped table-hover table-bordered">
       <thead>
           <tr>
               <th>店舗名</th>
               <th>カテゴリ</th>
               <th>住所</th>
               <th>開店時間</th>
               <th>閉店時間</th>
               <th>定休日</th>
               <th>電話番号</th>
               <th>編集</th>
               <th>画像</th>
           </tr>
       </thead>
       {% for restaurant in object_list %}
       <tr>
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.category }}</td>
        <td>{{ restaurant.address }}</td>
        <td>{{ restaurant.opening_time }}</td>
        <td>{{ restaurant.closing_time }}</td>
        <td>{{ restaurant.closed_days }}</td>
        <td>{{ restaurant.phone_number }}</td>
        <td class="restaurant-img"><img src="{{ restaurant.img.url }}"></td>
        <td>
            <button class="btn btn-primary" onclick="location.href='{% url 'edit' pk=restaurant.pk %}'">編集</button>
            <button class="btn btn-danger" onclick="location.href='{% url 'delete' pk=restaurant.pk %}'">削除</button>
        </td>
       </tr>
       {% endfor %}
   </table>

{% endblock %}